.card_section {
    width: calc(95% - 15px);
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    font-family: 'Poppins';
    display: grid;
    margin: 20px;
    scroll-behavior: smooth;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.card {
    width: 280px;
    min-height: 250px;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    margin: 0 10px 40px 10px;
    position: relative;
    box-shadow: 1px 1px 8px gray;
}

.card_section::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.card_section::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(77, 77, 131);
}

.card_section::-webkit-scrollbar-track {
    border-radius: 30px;
}

.card .title {
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(90deg, #0C2132 -1.34%, #174D95 100.46%);
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.card .description {
    font-size: 13px;
    color: gray;
    margin: 5px 0;
    padding: 5px;
    text-align: justify;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

.card .footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    justify-content: left;
}

.card .endpoint {
    padding: 5px;
    margin: 5px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background: linear-gradient(90deg, #0C2132 -1.34%, #174D95 100.46%);
    font-size: 14px;
}

.card .status {
    color: black;
    margin: 5px 2px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}